<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Application for <%= @params[:name] %></h1>

    <h2>Personal</h2>
    <table>
      <tr>
        <td><strong>Name:</strong></td>
        <td><%=params[:name]%></td>
      </tr>
      <tr>
        <td><strong>Email:</strong></td>
        <td><%=params[:email]%></td>
      </tr>
    </table>
    <% @params.each do |key, value| %>
      <p><%= "#{key}: #{value}" %></p>
    <% end %>
  </body>
</html>
