<h1>Kamas Snow</h1>
<p> Bananas are awesome! </p>
<p><%= image_tag "jacob.jpg", {height: 200} %> </p>
<p>Savannah will help you with all your needs!</p>
<p><%= image_tag "savannah.jpg", {height: 200} %> </p>
