<header>
  <%= image_tag "logo.png", id:"logo", alt:"Kamas Snow", size:"200x117" %>
   <div id="logo-text">SHAVED ICE</div>
</header>

<nav>
  <ul>
    <a href="https://www.google.com/maps/@40.6397719,-111.283973,19z"><li class="location">Location</li></a>
    <a href="hours.html"><li class="hours">Hours</li></a>
    <a href="#"><li class="flavors">Flavors</li></a>
  </ul>
</nav>

<div id="main">
  <article>

  </article>
</div>

<footer>
  <span class="left">&copy;2014 Kamas Snow</span>
  <ul class="right">
    <li><a href="#">home</a></li>
    <li><a href="#">about us</a></li>
    <li>
      <a href="mailto:kamas.snow@gmail.com">
        <%= image_tag "email.png", title:"email", alt:"email" %>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/kamassnow">
        <%= image_tag "fb.png", title:"facebook", alt:"facebook" %>
      </a>
    </li>
  </ul>
</footer>
