<h1>Listing checklist_configs</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @checklist_configs.each do |checklist_config| %>
      <tr>
        <td><%= link_to 'Show', checklist_config %></td>
        <td><%= link_to 'Edit', edit_checklist_config_path(checklist_config) %></td>
        <td><%= link_to 'Destroy', checklist_config, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checklist config', new_checklist_config_path %>
