body {
  font-family: 'Open Sans', sans-serif;
}

.flash-message {
  display: none;
}

header ul {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

header li {
  float: left;
}

header li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc;
}

header li a:hover {
  color: #c00;
  background-color: #fff;
}

header li.selected a:hover {
  background-color: rgb(173, 173, 255);
}

header li.selected a {
  color: white;
  background-color: blue;
}

.menu_id {
  display: none;
}

.date {
  font-size: 24px;
  font-weight: normal;
}

.checklist {
  width: 900px;
  margin: 0 auto;
  line-height: 34px;
}

.checklist h1 {
  font-size: 26px;
}

.checklist h2 {
  font-size: 22px;
  margin: 20px 0 10px 0;
}

.checklist h3 {
  font-weight: bold;
  margin: 0;
}

.checklist select {
  font-size: 18px;
  margin-right: 10px;
}

.checklist .header {
  font-size: smaller;
  color: gray;
}

.checklist .table {
  display: table;
}

.checklist .row {
  display: table-row;
}

.checklist .row-header {
  width: 140px;
  padding-right: 20px;
}

.checklist .cell {
  display: table-cell;
}

.checklist .flavors-table {
  margin-top: 20px;
}

.checklist .flavors-table h3 {
  font-weight: bold;
  font-size: 19px;
}

.checklist .flavor-color {
  color: black;
}

.checklist ul {
  margin-top: 0;
  padding-left: 0
}

.checklist li {
  list-style-type: none;
}

.checklist .indent-radio-na {
  padding-left: 12px;
}

.checklist input[type=checkbox] ~ span {
  padding-left: 40px;
}

input[type=checkbox], input[type=radio] {
  margin-right: 12px;
  width: 20px;
  height: 20px;
}

.count, .total {
  margin-right: 12px;
  font-size: 15px;
  text-align: right;
}

.count {
  width: 80px;
  height: 20px;
  border: 1px solid black;
}

.total {
  box-sizing: border-box;
  width: 85px;
  height: 24px;
  border: 1px solid black;
  padding-right: 7px;
  margin-bottom: 20px;
}

.strong {
  font-weight: bold;
}

.checklist input[type=submit] {
  margin: 20px 0;
  padding: 20px;
  background-color: #1677c4;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.8em;
}

