.openclose {
  width: 900px;
  margin: 0 auto;
  line-height: 34px;
}

.openclose h1 {
  font-size: 26px;
}

.openclose h2 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0;
}

.openclose h3 {
  font-weight: bold;
  margin: 0;
}

.openclose .header, .header2 {
  font-size: smaller;
  color: gray;
}

.openclose .header2 {
  padding-left: 12px;
}

.openclose ul {
  margin-top: 0;
  padding-left: 0
}

.openclose li {
  list-style-type: none;
}

.openclose ul.indent1 {
  margin-left: 20px;
}

.openclose label {
  font-size: smaller;
  color: gray;
}

.openclose input[type=checkbox] ~ span {
  padding-left: 40px;
}

input[type=checkbox], input[type=radio] {
  margin-right: 12px;
  width: 20px;
  height: 20px;
}

.count, .total {
  margin-right: 12px;
  font-size: 15px;
  text-align: right;
}

.count {
  width: 80px;
  height: 20px;
}

.total {
  box-sizing: border-box;
  width: 85px;
  height: 24px;
  border: 2px solid black;
  padding-right: 7px;
  margin-bottom: 20px;
}

.strong {
  font-weight: bold;
}