.openclose {
  width: 900px;
  margin: 0 auto;
  line-height: 34px;
}

.openclose h1 {
  font-size: 26px;
}

.openclose h2 {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 0;
}

.openclose h3 {
  font-weight: bold;
  margin: 0;
}

.openclose select {
  font-size: 18px;
  margin-right: 10px;
}

.openclose .header {
  font-size: smaller;
  color: gray;
}

.openclose .indent-radio-na {
  padding-left: 12px;
}

.openclose .indent-radio-full {
  padding-left: 3px;
}

.openclose .indent-radio-3-4 {
  padding-left: 16px;
}

.openclose .indent-radio-1-2 {
  padding-left: 19px;
}

.openclose .indent-radio-1-4 {
  padding-left: 19px;
}

.openclose .indent-radio-empty {
  padding-left: 13px;
}

.openclose .indent2 {
  padding-left: 62px;
}

.openclose .indent3 {
  padding-left: 60px;
}

.openclose .indent4 {
  padding-left: 46px;
}

.openclose ul {
  margin-top: 0;
  padding-left: 0
}

.openclose li {
  list-style-type: none;
}

.openclose label {
  font-size: smaller;
  color: gray;
}

.openclose input[type=checkbox] ~ span {
  padding-left: 40px;
}

input[type=checkbox], input[type=radio] {
  margin-right: 12px;
  width: 20px;
  height: 20px;
}

.count, .total {
  margin-right: 12px;
  font-size: 15px;
  text-align: right;
}

.count {
  width: 80px;
  height: 20px;
  border: 1px solid black;
}

.total {
  box-sizing: border-box;
  width: 85px;
  height: 24px;
  border: 1px solid lightgray;
  padding-right: 7px;
  margin-bottom: 20px;
}

.strong {
  font-weight: bold;
}