.openclose {
  width: 900px;
  margin: 0 auto;
  line-height: 34px;
}

.openclose h1 {
  font-size: 26px;
}

.openclose h2 {
  font-size: 22px;
  margin: 20px 0 10px 0;
}

.openclose h3 {
  font-weight: bold;
  margin: 0;
}

.openclose select {
  font-size: 18px;
  margin-right: 10px;
}

.openclose .header {
  font-size: smaller;
  color: gray;
}

.openclose .table {
  display: table;
}

.openclose .row {
  display: table-row;
}

.openclose .row-header {
  width: 140px;
  padding-right: 20px;
}

.openclose .cell {
  display: table-cell;
}

.openclose .flavors-table {
  margin-top: 20px;
}

.openclose .flavors-table h3 {
  font-weight: bold;
  font-size: 19px;
}

.openclose .flavor-color {
  color: black;
}

.openclose ul {
  margin-top: 0;
  padding-left: 0
}

.openclose li {
  list-style-type: none;
}

.openclose .indent-radio-na {
  padding-left: 12px;
}

.openclose input[type=checkbox] ~ span {
  padding-left: 40px;
}

input[type=checkbox], input[type=radio] {
  margin-right: 12px;
  width: 20px;
  height: 20px;
}

.count, .total {
  margin-right: 12px;
  font-size: 15px;
  text-align: right;
}

.count {
  width: 80px;
  height: 20px;
  border: 1px solid black;
}

.total {
  box-sizing: border-box;
  width: 85px;
  height: 24px;
  border: 1px solid lightgray;
  padding-right: 7px;
  margin-bottom: 20px;
}

.strong {
  font-weight: bold;
}

.openclose input[type=submit] {
  margin: 20px 0;
  padding: 20px;
  background-color: #1677c4;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: .8em;
}

