/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'BerlinSansFBDemiBold';
  src: url('6911542873.ttf') format('truetype');
}

html {
  background: url("background_snow.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  padding: 15px 0;
  min-width: 960px;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

body em {
  font-style: italic;
}

body strong {
  font-weight: bold;
}

header, nav, article, footer {
  width: 900px;
  margin: 0 auto;
}

.right {
  float: right;
}

.left {
  float: left;
}

#logo {
  position: relative;
  margin-left: 17px;
  margin-bottom: -66px;
  z-index: 1;
}

#logo-text {
  position: relative;
  margin-left: 220px;
  margin-bottom: -42px;
  font-family: 'BerlinSansFBDemiBold';
  font-size: 36px;
  width: 220px;
  color: white;
  z-index: 1
}

nav {
  background: rgb(22, 119, 196);
  height: 50px;
  position: relative;
  color: #fff;
  border-radius: 10px;
}

nav ul {
  padding-right: 15px;
}

nav li {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 10px;
}

nav img {
  width: 34px;
}

.email {
  background-image: url('email.png');
}

.facebook {
  background-image: url('fb.png');
}

#main {
  width: 900px;
  margin: -3px auto 0 auto;
}

article {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin: 30px auto 0 auto;
  font-size: 20px;
  padding: 40px;
}

article h1, article p {
  display: inline;
  width: 320px;
}

article h1 {
  font-size: 24px;
  font-weight: bold;
}

article p {
  padding: 20px 0 20px 0;
  line-height: 30px;
  font-size: 16px;
}

.inner-section p {
  padding: 5px 0 20px 0;
  line-height: 24px;
  font-size: 16px;
}

article img {
  width: 450px;
  border-radius: 10px;
  border: 1px solid rgb(224,224,224);
}

.left-side h1, .left-side p, .right-side img {
  float: left;
}

.right-side h1, .right-side p, .left-side img {
  float: right;
}

.inner-section h2 {
  font-size: 16px;
  font-weight: bold;
}

.last-article {
  margin-bottom: 30px;
}

.hours {
  padding-left: 5px;
}

footer {
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgb(22, 119, 196);
  height: 40px;
  color: #ccc;
  font-size: 16px;
  border-radius: 10px;
}

footer span {
  padding-left: 20px;
  padding-top: 11px;
}
