<!DOCTYPE html>
<html>
<head>
  <title>Kamas Snow - Opening Checklist</title>
  <%= stylesheet_link_tag    "openclose", media: "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body>

<%= yield %>

</body>
</html>